# Milvus Configuration
MILVUS_VERSION=v2.5.5
ETCD_VERSION=v3.5.5
MINIO_VERSION=RELEASE.2023-03-20T20-16-18Z

# MinIO Credentials
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Storage Path (Relative to docker-compose.yml)
DOCKER_VOLUME_DIRECTORY=./volumes
